TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = admin
TYPEORM_DATABASE = test
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = ./src/models/*.ts
TYPEORM_MIGRATIONS = ./src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/database/migrations
UPLOAD_PATH = \\uploads